*{
    padding: 0%;
    margin: 0%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 100%;
}
.navest {
    position: -webkit-sticky;  
    position: sticky;
    top:5px;
    z-index: 100;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    position: -webkit-sticky;  
    position: sticky;
    top: 18%; 
    background-color: rgb(2, 2, 32);
}

nav ul li{
    float: left;
        /* clear:both; A partir de esta línea Cuando quiero que mis elementos dejen de flotar */
    font-size: 100%;
}

nav ul li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color:white;
    font-size: 200%;
}
nav ul li:hover{
    background: rgba(131, 169, 201, 0.705)
}
.slider {
    width: 100%;
    height: 400px;
    margin: auto;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    }
    
    .slider img{
        position:absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        opacity:0;
        transition: all 2s;
    }
    
    .slider input[type="radio"]{
        position: relative;
        z-index: 100;
    }
    .slider input[type="radio"]:checked~img{
        opacity: 5;
    }
    .contenedor2{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(27, 1fr);
        grid-template-rows:repeat(1, 1fr) ;
        column-gap: 10px; 
        row-gap: 10px;
    }

    .titulo1 {
        font-size: 50px;
        color: rgb(223, 235, 247);
        height: 100px;
        display: flex;
        float: left;
        align-items: left;  /*  Me centra en el eje y */
        justify-content: left; /* me centra en el eje x */
        grid-column: 1/10;
        grid-row:1/1;
        background-image: url(img/fondo.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
 
    .titulo2 {
        font-size: 50px;
        color: rgb(223, 235, 247);
        height: 100px;
        display: flex;
        align-items: left;  /*  Me centra en el eje y */
        justify-content: left; /* me centra en el eje x */
        grid-column: 19/28;
        grid-row:1/1;
        background-image: url(img/fondo.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .separador{
        background-image: url(img/fondo.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        grid-column: 1/29;
        grid-row:1/1;
        margin-top: 1%;
    }
    .separador1{
        background-image: url(img/fondo.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        grid-column: 1/29;
        grid-row:6/6;
        margin-top: 1%;
        position: relative;
        top:-40%;
    }
    .padre{
        display: flex;
        justify-content: center;
    }
    .contenedor{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(27, 1fr);
        grid-template-rows:repeat(9, 1fr) ;
        column-gap: 10px; 
        row-gap: 10px;
    }
    .contenedor3{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(27, 1fr);
        grid-template-rows:repeat(9, 1fr) ;
        column-gap: 10px; 
        row-gap: 10px;
    }
    .caja img{
        width: 100%;
        height: 100%;
        box-shadow: 4px 4px gray;
        overflow: hidden;
    }
    .img:hover{
    filter: sepia(100%);
    }
    .gl1 {
        grid-column: 1/4;
        grid-row:1/4;
    }
    .gl2 {
        grid-column: 4/7;
        grid-row:1/4;
    }
    .gl3 {
        grid-column: 7/10;
        grid-row:1/4;
    }
    .gl4 {
        grid-column: 1/5;
        grid-row:4/7;
    }
    .gl5 {
        grid-column: 5/10;
        grid-row:4/7;
    }
    .gl6 {
        grid-column: 1/4;
        grid-row:7/10;
    }
    .gl7 {
        grid-column: 4/7;
        grid-row:7/10;
    }
    .gl8 {
        grid-column: 7/10;
        grid-row:7/10;
    }
   
    
    .gl1j {
        grid-column: 19/22;
        grid-row:1/4;
    }
    .gl2j {
        grid-column: 22/25;
        grid-row:1/4;
    }
    .gl3j {
        grid-column: 25/28;
        grid-row:1/4;
    }
    .gl4j {
        grid-column: 19/23;
        grid-row:4/7;
    }
    .gl5j {
        grid-column: 23/28;
        grid-row:4/7;
    }
    .gl6j {
        grid-column: 19/22;
        grid-row:7/10;
    }
    .gl7j {
        grid-column: 22/25;
        grid-row:7/10;
    }
    .gl8j {
        grid-column: 25/28;
        grid-row:7/10;
    }

    .logo {
        grid-column: 11/18;
        grid-row:2/9;
    }
    .caja2 img{
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 100%;
        border-style: dotted;
    }
    .video{
        grid-column: 1/9;
        grid-row:2/6;
    }
    .texto1{
        grid-column: 1/10;
        grid-row:4/8;
        position: relative;
        top:-10%;
    }
    .texto1 p{
        display: flex;
        text-align: center;
        font-size: 150%;
    }

    .seccion1 {
        grid-column: 11/15;
        grid-row:2/4;
        border-radius: 100%;
        height: 90%;
    }
    .seccion2 {
        grid-column: 15/19;
        grid-row:2/4;
        height: 90%;
    }
    .seccion3 {
        grid-column: 19/23;
        grid-row:2/4;
        height: 90%;
    }
    .seccion4 {
        grid-column: 23/27;
        grid-row:2/4;
        height: 90%;
    }
    .caja3 img{
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 100%;
        border-style: dotted;
    }
    
    .texto2 {
        grid-column: 11/15;
        grid-row:4/6; 
        font-size: 160%; 
        display: flex;
        text-align: center;
        padding: 2%;
    }
    .texto3 {
        grid-column: 15/19;
        grid-row:4/6;  
        font-size: 150%; 
        display: flex;
        text-align: center;
        padding: 2%;

    }
    .texto4 {
        grid-column: 19/23;
        grid-row:4/6;  
        font-size: 160%; 
        display: flex;
        text-align: center;
        padding: 2%;

    }
    .texto5 {
        grid-column: 23/28;
        grid-row:4/6;  
        font-size: 160%; 
        display: flex;
        text-align: center;
        padding: 2%;
    }
    .sigueme{
        grid-column: 2/11;
        grid-row:7/12;  
        position: relative;
        top:-10%; 
    }
    .caja4 img{
        width: 100%;
        height: 100%;
    }
    .texto6 {
        grid-column: 12/18;
        grid-row:8/11;  
        font-size: 160%; 
        display: flex;
        text-align: center;
        padding: 2%;
        position: relative;
        top:-20%;
    }
    .formulario{
        grid-column: 19/27;
        grid-row:8/12;    
        position: relative;
        top:-40%;
    }
    form h1 {
        text-align: center;
        font-size: 150%;
        color: #0b022b;
        padding: 3%;
        margin-bottom: 5%;
    }

    form input[type="text"], 
    form input[type="email"],
    form input[type="number"],
    form input[type="password"] {
    width: 60%;
    padding: 5px;
    border-radius: 3px;
    background: rgb(166, 187, 214);
    margin-bottom: 5px;
    position: relative; 
}
form{
    width: 100%;
    background-color: rgb(156, 149, 201);
    padding: 3%;
    border-radius: 10px;
    box-shadow: #0d022b 3px 3px;
    font-size: 100%;
}

form label {
    width: 25%;
    display: inline-block;
    margin-right: 25px;
    box-shadow: 5px;
}
form input[type="submit"]{
    width: 100%;
    background: rgb(108, 107, 184);
    padding: 10px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background: linear-gradient(to right, rgb(107, 94, 221), rgb(157, 151, 247));
    color: #37293d;
    text-shadow: -1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, 1px 1px #f3f3f2, 3px 3px #6a83c7;
}

.boton:hover {
    background: rgb(57, 65, 109);
    color:white;
}
.contenedorf {
        display: grid;
        grid-template-columns: repeat(27, 1fr);
        grid-template-rows:repeat(1, 0.5fr) repeat(8, 1fr) ;
        column-gap: 1px; 
        row-gap: 1px;
        background-image: url(img/footer.png);
        background-repeat: no-repeat;
        background-size: cover;

}

.titulof {
    grid-column: 23/27;
    grid-row:2/2;
    font-size: 150%;
    color: rgb(8, 34, 59);
    height: 100%;
}

.titulof2 {
    grid-column: 10/13;
    grid-row:2/2;
    font-size: 150%;
    color: rgb(8, 34, 59);
    height: 100%;
}
.titulof2 h3 {
    grid-column: 3/9;
    grid-row:1/1;
}
.pf {
    grid-column: 24/27;
    grid-row:3/8;
    font-size: 100%;
    height: 100%;
    align-items: center;  /*  Me centra en el eje y */
    justify-content: center; /* me centra en el eje x */
}
.logo1 {
    grid-column: 2/5;
    grid-row:2/4;    
}
.logo2{
    grid-column: 2/5;
    grid-row:4/6;  
}
.logo3{
    grid-column: 2/5;
    grid-row:6/8;  
}

.tlogo1 {
    grid-column: 5/7;
    grid-row:2/4;   
    display: flex;
    align-items: center; 
}
.tlogo2{
    grid-column: 5/7;
    grid-row:4/6;  
    display: flex;
    align-items: center;
}
.tlogo3{
    grid-column: 5/7;
    grid-row:6/8;  
    display: flex;
    align-items: center;
}

@media screen and (max-width:750px) {
    .contenedor3{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(27, 1fr);
        grid-template-rows:repeat(2, 0.5fr) repeat(2, 1fr) repeat(1, 0.3fr)  repeat(2, 1fr) repeat(1, 0.3fr) repeat(10, 1fr) repeat(1, 0.3fr);
        column-gap: 10px; 
        row-gap: 10px;
        top: 5%;
    }
    .separador{
        background-image: url(img/fondo.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        grid-column: 1/29;
        grid-row:1/3;
        margin-top: 3%;
        position: relative;
        top:0%;
    }
    .video{
        grid-column: 1/12;
        grid-row:3/6;
        position: relative;
        align-items: flex-start;
        top:0%;
        width: 100%;
        height: 230%;
    }
    .texto1{
        grid-column: 13/28;
        grid-row:3/6;
        position: relative;
        align-items: center;
        top:0%;
        font-size: 80%;
    }
    .seccion1 {
        grid-column: 1/7;
        grid-row:6/10;
        border-radius: 100%;
        position: relative;
        top:0%;
        height: 50%;
    }
    .texto2 {
        grid-column: 7/13;
        grid-row:6/8; 
        font-size: 120%; 
        display: flex;
        text-align: center;
        align-items: center;
        padding: 2%;
        position: relative;
        top:0%;
    }
    .seccion2 {
        grid-column: 15/21;
        grid-row:6/10;
        position: relative;
        top:0%;
        height: 50%;
    }
    .texto3 {
        grid-column: 21/28;
        grid-row:6/8;  
        font-size: 120%; 
        display: flex;
        text-align: center;
        align-items: center;
        padding: 2%;
        position: relative;
        top:0%;
    }
    .texto4 {
        grid-column: 1/8;
        grid-row:9/11;  
        font-size: 120%; 
        display: flex;
        text-align: center;
        padding: 2%;
        position: relative;
        top:0%;
    }
    .seccion3 {
        grid-column: 8/14;
        grid-row:9/12;
        position: relative;
        top:0%;
        height: 50%;
    }
    .texto5 {
        grid-column: 14/21;
        grid-row:9/11;  
        font-size: 120%; 
        display: flex;
        text-align: center;
        padding: 2%;
        position: relative;
        top:0%;
    }
    .seccion4 {
        grid-column: 21/27;
        grid-row:9/12;
        position: relative;
        top:0%;
        height: 50%;
    }
    .separador1{
        background-image: url(img/fondo.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        grid-column: 1/29;
        grid-row:11/12;
        margin-top: 1%;
        position: relative;
        top:0%;
    }
    .sigueme{
        grid-column: 1/16;
        grid-row:12/15;  
        position: relative;
        top:15%; 
        align-items: center;
    }
    .caja4 img{
        width: 80%;
        height: 70%;
    }
    .texto6 {
        grid-column: 15/25;
        grid-row:12/15;  
        font-size: 160%; 
        display: flex;
        text-align: center;
        align-items: center;
        padding: 2%;
        position: relative;
        top:0%;
    }
    .formulario{
        grid-column: 5/23;
        grid-row:15/19;    
        position: relative;
        top:0%;
        margin-bottom: 0;
    }
/* Aqui configuro el responsive de mi footer */
.contenedorf {
        display: grid;
        grid-template-columns: repeat(27, 1fr);
        grid-template-rows:repeat(1, 0.5fr) repeat(5, 1fr) ;
        column-gap: 5px; 
        row-gap: 5px;
        background-image: url(img/footer.png);
        background-repeat: no-repeat;
        background-size: cover;
}
.titulof2 {
    grid-column: 2/8;
    grid-row:1/1;
    font-size: 150%;
    color: rgb(8, 34, 59);
    height: 100%;
}
.titulof {
    grid-column: 11/27;
    grid-row:1/1;
    font-size: 150%;
    color: rgb(8, 34, 59);
    height: 100%;
}

.pf {
    grid-column: 9/20;
    grid-row:2/8;
    font-size: 100%;
    height: 100%;
    align-items: center;  /*  Me centra en el eje y */
    justify-content: center; /* me centra en el eje x */
}
.logo1 {
    grid-column: 2/4;
    grid-row:2/3;    
}
.logo2{
    grid-column: 2/4;
    grid-row:3/4;  
}
.logo3{
    grid-column: 2/4;
    grid-row:4/5;  
}
.tlogo1 {
    grid-column: 4/7;
    grid-row:2/3;   
    display: flex;
    align-items: center; 
}
.tlogo2{
    grid-column: 4/7;
    grid-row:3/4;  
    display: flex;
    align-items: center;
}
.tlogo3{
    grid-column: 4/7;
    grid-row:4/5;  
    display: flex;
    align-items: center;
}
.titulo1 {
    font-size: 45px;
    color: rgb(223, 235, 247);
    height: 100px;
    display: flex;
    float: left;
    align-items: left;  /*  Me centra en el eje y */
    justify-content: left; /* me centra en el eje x */
    grid-column: 1/10;
    grid-row:1/1;
    background-image: url(img/fondo.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
}

.titulo2 {
    font-size: 45px;
    color: rgb(223, 235, 247);
    height: 100px;
    display: flex;
    align-items: left;  /*  Me centra en el eje y */
    justify-content: left; /* me centra en el eje x */
    grid-column: 19/28;
    grid-row:1/1;
    background-image: url(img/fondo.jpg);
    background-size: 140%;
    background-repeat: no-repeat;
}
nav ul li{
    float: left;
        /* clear:both; A partir de esta línea Cuando quiero que mis elementos dejen de flotar */
    font-size: 90%;
}
}